html, body {
	background-color: white;
	color: #222;
	font: normal 9.25pt 'Segoe UI', Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 500px;
	overflow: hidden;
}

.highlight {
	color: white;
	background-color: #68f;
	border-radius: 2px;
	padding: 0 2px;
}

.button {
	text-decoration: none;
	cursor: default;
	float: right;
	padding: 20px 30px;
	margin-top: -60px;
	color: #fff;
}

.button.search {
	margin-right: 100px;
}

.button:hover {
	background-color: #444;
}

#error {
	position: absolute;
	width: 300px;
	bottom: 30px;
	right: 10px;
	padding: 20px;
	overflow: hidden;
	display: none;
	background-color: rgba(180,130,120,0.9);
	box-shadow: 3px 3px 3px #765;
	color: #fff;
}

/* Sidebar */

#sidebar {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 300px;
	border-right: 1px solid #333;
	background-color: #444;
	color: #fff;
}

h1 {
	position: absolute;
	top: 0px;
	margin: 0;
	padding: 15px;
	font-family: 'Segoe UI';
	font-size: 22px;
	font-weight: 400;
	color: #fff;
}

h1 .lighter {
	color: #ace;
	font: lighter 22px "Segoe UI Light",Segoe UI,Tahoma Light,Arial Light,Helvetica,sans-serif;
}

.scroll-container {
	position: absolute;
	top: 75px;
	bottom: 5px;
	width: 300px;
}

#folders {
}

.folder {
	cursor: default;
	position: relative;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 25px;
	line-height: 25px;
	padding: 0 40px 0 15px;
	background-repeat: no-repeat;
	background-position: 3px 2px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAuCAYAAAAV+ligAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuOUA8sMsAAABFSURBVDhPY2AYBSgh8O/fvwi8QQJSgFcRTAFORcgKsCoi2gScDiXoi9FYHw0B6oQAemrGmnixKcKwnmCyB+kYTdkURBsABZVqQRb99hgAAAAASUVORK5CYII=");
}

.folder:hover {
	background-color: #555;
}

.folder.active {
	background-position:3px -22px;
}

.folder.selected {
	background-color:#68a;
}

.folder .count {
	position: absolute;
	right: 10px;
	color: #777;
	padding: 0 5px;
	line-height: 25px;
	text-align: right;
}

.folder.selected .count {
	color: #ccc;
}

.L1 .folder { padding-left: 30px; background-position:17px 2px; }
.L2 .folder { padding-left: 45px; background-position:32px 2px; }
.L3 .folder { padding-left: 60px; background-position:47px 2px; }
.L4 .folder { padding-left: 75px; background-position:62px 2px; }
.L5 .folder { padding-left: 90px; background-position:77px 2px; }

.L1 .folder.active { background-position:17px -22px; }
.L2 .folder.active { background-position:32px -22px; }
.L3 .folder.active { background-position:47px -22px; }
.L4 .folder.active { background-position:62px -22px; }
.L5 .folder.active { background-position:77px -22px; }

.folder.empty { background-image:none; }

/* Bookmarks */

#header {
	position: absolute;
	top: 0;
	left: 301px;
	right: 0;
	padding: 0;
}

#toolbar {
}

#toolbar .search {
	font: normal 1em 'Segoe UI', Helvetica, Arial, sans-serif;
	border: 1px solid #aaa;
	border-radius: 2px;
	/*border-radius: 4px 0 0 4px;*/
	padding: 5px;
	padding-left: 25px;
	display:block;
	width: 80%;
	margin: 10px auto;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAARCAYAAADUryzEAAABC0lEQVQ4EdWRsU5CQRBFFzQkFHZWNmKwJtoQLShsDAWJf+gnWNgZSCyMmlASYmMMBaKlBjsJ6rnP2WUeeQUNBZOcnZ07M5vZ3RA23koFN6ijncKe5d7wj/Bicc4tH3BGtmUVv+ZjzR3xrWnJbaVdCAfsOzCHG7iCe/gC5Wowhk9I5g9oo+5CF/qgg4Su8A2HUIUhJCun3eLOuQLLRy2+S2rzB/yY6rVYWKRlOZ/QqLLjf5dbo/aeUwn8G3wQH8G+6VO87nwC+hn9xjVITybRW5PgHPxkPt8jePCCn0D6BJ6hAsrNYARPoMnqIG0MmS1PEPUi30C8APVcwiuEbS0r2sDqdvBZ84p9ay77AwILKTOI12mTAAAAAElFTkSuQmCC") no-repeat 6px 4px;
}

::-moz-placeholder { color:#aaa; font-style: italic; }

#header hr {
	margin: 10px auto;
	border: none;
	border-bottom: 1px solid #dedede;
	width: 90%;
}

#path {
	display: inline;
	list-style-type: none;
	margin: 10px;
	padding: 0;
}

#path .item {
	border: solid white;
	border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAaCAYAAABozQZiAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwAAADsABataJCQAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC41ZYUyZQAAANRJREFUOE+dzq0RwkAYhOEIBAKJQCApIQJBKQgkfSApAXEqJpkoCrgSkEgkJSAQx+5MMnOXrNhBPAN577ufKqX0NxldMrpkdMnoktElo0tGl4wuGalt2xPs1NpIxq7rakjwxgEHNUMyEjYe4YPNX/5XM7OQ6/t+z9uBr7hM14sPBQdssfE1HHDL14pBBRvOw9P5gjpfKwZzMcYFbwLe+OALpjPFx6hpmjVui9yI3zus1NwsEIY38IQrX6BmSEYKISxVz8noktElo0tGl4wuGV0yelL1A3EUfUovudH1AAAAAElFTkSuQmCC") 1 1 1 15 fill;
	border-width: 1px 1px 1px 15px;
	cursor: default;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 7px 0 5px;
}

#path .item:first-child {
	border-width: 1px 0;
	padding-left: 0;
}

h2.caption {
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	padding: 5px 0 15px 10px;
}

.listview {
	position: absolute;
	left: 301px;
	right: 0;
	top: 100px;
	bottom: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.listview ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.listview li {
	height: 25px;
	cursor: default;
	margin: 0;
	padding: 0 10px;
	color: #444;
}

.listview li:nth-child(odd) { 
	background-color: #f6f6ff;
}

.bookmark > div {
	line-height: 25px;
	float: left;
	width: 50%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bookmark .uri a {
	text-decoration: none;
	font-style: italic;
	color: #888;
}

.listview li:hover {
	background-color: #e2e8f6;
}